<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  
        lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{app.name}"></title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.5.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <!-- 
     -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">[[#{app.name}]]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li sec:authorize="isAuthenticated()" class="nav-item active">
              <a class="nav-link" href="#">[[#{home}]] <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
            <ul class="navbar-nav ml-mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-md-4" href="#" id="locale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="(${#locale.language} == 'in') ? #{i18n.indonesian} : #{i18n.english.us}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                        <a class="dropdown-item" th:href="@{?locale=en-US}">[[#{i18n.english.us}]]</a>
                        <a class="dropdown-item" th:href="@{?locale=in-ID}">[[#{i18n.indonesian}]]</a>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item text-nowrap">
                    <a class="nav-link" th:href="@{/signout}">[[#{sign.out}]]</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item text-nowrap mr-md-2">
                    <a class="nav-link" th:href="@{/signin}">[[#{sign.in}]]</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item text-nowrap">
                    <a class="btn btn-outline-primary" th:href="@{/register}">[[#{register.now}]]</a>
                </li>
            </ul>
        </div>
      </nav>
    
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.5.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.5.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>
