<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">[[#{app.name}]]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" th:href="@{/}">[[#{home}]] <span class="sr-only">(current)</span></a>
            </li>
          </ul>
            <ul class="navbar-nav ml-mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-md-4" href="#" id="locale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="(${#locale.language} == 'in') ? #{i18n.indonesian} : #{i18n.english.us}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                    <a class="dropdown-item" th:href="@{?locale=en-US}">[[#{i18n.english.us}]]</a>
                    <a class="dropdown-item" th:href="@{?locale=in-ID}">[[#{i18n.indonesian}]]</a>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/signout}">[[#{sign.out}]]</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item text-nowrap mr-md-2">
                <a class="nav-link" th:href="@{/signin}">[[#{sign.in}]]</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item text-nowrap">
                <a class="btn btn-outline-primary" th:href="@{/register}">[[#{register.now}]]</a>
                </li>
            </ul>
        </div>
    </nav>
    <section layout:fragment="content">

    <h1>Login page</h1>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
  		<p th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>
	</div>
    <div th:if="${logoutMessage}" class="alert alert-success" role="alert">
  		<p th:if="${logoutMessage}" class="success" th:text="${logoutMessage}"></p>
	</div>
    <form th:action="@{/home}" method="post" name="user">
      <label for="username">[[#{username}]]</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
      <label for="password">[[#{password}]]</label>:
      <input type="password" id="password" name="password" /> <br />
      <input type="submit" value="Sign in" />
    </form>
</section>
    <footer class="container-fluid py-5">
        <div class="fixed-bottom clear-fix">
            <p class="text-muted">&copy; 2020 Reflex Template. All rights reserved.</p>
        </div>
    </footer>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.5.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.5.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
</body>
</html>